.wrap {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   flex-direction: column;
   color: #fff;
}

.header {
   padding: 20px 10px 0 10px;
   width: 100%;
   color: #fff;
   background: rgba(51, 51, 51, 0.40);
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.headerInfo {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: flex-start;
}

.title {
   font-size: 16px;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
}

.roomUsers {}

.leave {
   background: rgb(100, 100, 100);
   border-radius: 6px;
   font-size: 14px;
   padding: 10px;
   color: #fff;
   cursor: pointer;
}

.form {
   padding: 0 20px 20px 20px;
   width: 100%;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 25px;
   color: #fff;
   background: rgba(51, 51, 51, 0.40);
   /* border-bottom-leave-radius: 12px;
   border-bottom-right-radius: 12px; */
}

.input {
   padding: 25px 0 25px 10px;
   flex-grow: 1;
   width: 100%;
   height: 100%;
   color: #fff;
   font-size: 18px;
}

.input::placeholder {
   color: rgba(255, 255, 255, 0.5);
}

.button {
   padding: 15px;
   width: 25%;
   min-width: 122px;
   text-align: center;
   color: #fff;
   cursor: pointer;
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 15px;
   transition: all .4s ease;
}

@media (max-width:500px) {
   .form {
      gap: 15px;
   }

   .input {
      padding: 25px 0;
      font-size: 16px;
   }

   .button {
      padding: 10px;
   }
}

.button button {
   color: #fff;
}

.button:hover {
   background: rgba(0, 0, 0, 0.15);
}

.messages {
   flex-grow: 1;
   width: 100%;
   color: #fff;
   font-size: 18px;
   background: rgb(35, 35, 35);
   padding: 32px;
}

.emoji {
   width: 40px;
   cursor: pointer;
   position: relative;
}

.emoji img {
   vertical-align: middle;
}

.emojies {
   position: absolute;
   leave: 50%;
   transform: translateX(-50%);
   bottom: 100%;
}